body {
    background-color: #f2e9e4;
    color: #453823;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/* NAVBAR */

.navbar {
    width: 100%;
    background: #c9ada7;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.nav-link {
    text-decoration: none;
    color: #453823;
    font-size: 20px;
    font-weight: 600;
}

.nav-link:hover {
    text-decoration: underline;
}

.info-banner {
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    gap: 6rem;
    margin-top: 60px;
    padding: 0 40px;
}

.info,
.what-i-can {
    width: 500px;
}

.info h1 {
    margin-top: 0;
}

.aboutme {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}

.what-i-can p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 3rem;
}
.snimka{
    width: 28rem;
    margin-left: 1rem;

}
.snimka2{
width: 25rem;
margin-left: 2rem;

}
.headline{
 margin-left:1rem;
}

.snimka3{
margin-left: 2rem;
width: 20rem;
}

.snimka4{
    width: 25rem;
    margin-left: 2rem;
}

.snimka5{
    width: 20rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.snimka6{
    width: 20rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.snimka7{
    width: 20rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.snimka8{
    width: 20rem;
    margin-left: 2rem;
}

.snimka9{
    width: 15.5rem;
    margin-left: 2rem;
}

.snimka10{
    width:20rem;
    margin-left: 2rem;
    margin-top: 2rem;
}