body {
    background-color: #f2e9e4;
    color: #453823;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/* NAVBAR */

.navbar {
    width: 100%;
    background: #c9ada7;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.nav-link {
    text-decoration: none;
    color: #453823;
    font-size: 20px;
    font-weight: 600;
}

.nav-link:hover {
    text-decoration: underline;
}

.info-banner {
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    gap: 6rem;
    margin-top: 60px;
    padding: 0 40px;
}

.info,
.what-i-can {
    width: 500px;
}

.info h1 {
    margin-top: 0;
}

.aboutme {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}

.what-i-can p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 3rem;
}


.snimka-horizontalno {
    height: 20rem;
    width: auto;
    margin: 1%;
    border-radius: 10%;
    border: white 5px solid;
}


.snimka-vertikolno{
    width: 20rem;
    height: auto;
    margin: 1%;
    border-radius: 10%;
    border: white 5px solid;

    grid-row: span 2;
    grid-column: span 1;

} 

.hover-transition {
    transition: transform 0.3s ease-in;
}

.hover-transition:hover{
    transform: scale(1.05);
}

.headline {
    margin-left: 45px; 
}

.WrapPanel{
    display: grid;
    grid-template-rows: 10;
    grid-template-columns: 9;
    justify-content: baseline;
    grid-template:subgrid ;
}